*.php linguist-detectable=true
*.xml linguist-detectable=true
*.xsl linguist-detectable=true
*.html linguist-detectable=false
*.js linguist-detectable=false
*.txt linguist-detectable=false
*.INFO linguist-detectable=false
*.INFO_it linguist-detectable=false
